thead th {
    cursor: pointer;
    margin-right: 15px;
    margin-left: 15px;
  
    span {
      visibility: hidden;
    }
  
    &.active {
      color: #000;
  
      span {
        visibility: visible;
      }
    }
  }
  .modal-dialog {
    height: 80% !important;
    padding-top:10%;
  }
  
  